In [120]:
import pandas as pd
import numpy as np

In [121]:
df = pd.read_csv("../data/cleaned_missing_kept_outlier_removed_standardized.csv")

In [122]:
dbscan_labels = np.load("dist_matricies/v7/dbscan_labels.npy")
agg_labels = np.load("dist_matricies/v5/agg_labels.npy")

In [123]:
print(len(dbscan_labels), len(agg_labels), len(df))

27037 27037 27037

In [124]:
df["dbscan_cluster"] = dbscan_labels
df["agg_cluster"] = agg_labels
df.head()

,CREATED_ON,LAST_LOGIN,SERVICE_X_DATE,LINE_OF_BUSINESS,SIZE_CODE,PACKAGE_TYPE,PREVIOUS_PACKAGE_TYPE,PACKAGE_CHANGE_DATE,SERVICE_1_COUNT,SERVICE_2_COUNT,...,CREATED_ON_2,CREATED_ON_3,CREATED_ON_4,CREATED_ON_5,LAST_LOGIN_1,LAST_LOGIN_2,LAST_LOGIN_3,COUNTY,dbscan_cluster,agg_cluster
0,0.055954,0.055954,NaN,49414.0,91406695.0,Free_tier_0,Free_tier_0,0.847302,-0.106351,-0.075503,...,False,False,False,True,False,False,True,Főváros,0,2
1,0.056514,0.056514,NaN,NaN,91406690.0,Free_tier_0,Free_tier_0,0.847302,-0.106351,-0.075503,...,False,False,False,True,False,False,True,Főváros,0,2
2,0.056538,0.056577,NaN,70224.0,91406692.0,Free_tier_0,Free_tier_0,0.847302,-0.106351,-0.075503,...,False,False,False,True,False,False,True,Főváros,0,2
3,0.058769,0.058771,NaN,81104.0,91406694.0,Free_tier_0,Free_tier_0,0.847302,-0.106351,-0.075503,...,False,False,False,True,False,False,True,Pest,0,2
4,0.058770,0.058772,NaN,46514.0,91406695.0,Free_tier_0,Free_tier_0,0.847302,-0.106351,-0.075503,...,False,False,False,True,False,False,True,Főváros,0,2

In [125]:
df_dbscan = df[[
    "dbscan_cluster",
    "PREVIOUS_PACKAGE_TYPE",
    "SERVICE_1_COUNT",
    "SERVICE_2_COUNT",
    "SERVICE_3_COUNT",
    "SUPERUSER_ID",
    "CREATED_ON_ACTIVE",
    "SERVICE_X_DATE_ACTIVE",
    "PACKAGE_CHANGE_DATE_ACTIVE",
    "CREATED_ON_1",
    "CREATED_ON_2",
    "CREATED_ON_3",
    "CREATED_ON_4",
    "CREATED_ON_5",
    "LAST_LOGIN_1",
    "COUNTY"]]

In [126]:
df_agg = df[[
    "agg_cluster",
    "CREATED_ON_1",
    "CREATED_ON_2",
    "CREATED_ON_3",
    "CREATED_ON_4",
    "CREATED_ON_5",
    "LAST_LOGIN_1",
    "LAST_LOGIN_2",
    "LAST_LOGIN_3",
    "COUNTY",
    "LINE_OF_BUSINESS",
    "SIZE_CODE",
    "PACKAGE_TYPE"]]

In [127]:
seed = 0

In [128]:
print((df_dbscan["dbscan_cluster"] == 0).sum())
df_dbscan[df_dbscan["dbscan_cluster"] == 0].sample(5, random_state=seed)

22090

,dbscan_cluster,PREVIOUS_PACKAGE_TYPE,SERVICE_1_COUNT,SERVICE_2_COUNT,SERVICE_3_COUNT,SUPERUSER_ID,CREATED_ON_ACTIVE,SERVICE_X_DATE_ACTIVE,PACKAGE_CHANGE_DATE_ACTIVE,CREATED_ON_1,CREATED_ON_2,CREATED_ON_3,CREATED_ON_4,CREATED_ON_5,LAST_LOGIN_1,COUNTY
2289,0,Free_tier_1,-0.106351,-0.075503,-0.130499,1.0,False,False,True,False,False,False,False,True,True,Főváros
14815,0,Freemium,-0.106351,-0.075503,-0.130499,1.0,False,False,True,False,False,False,False,True,False,NaN
12762,0,Free_tier_1,-0.106351,-0.075503,-0.130499,1.0,False,False,True,False,False,False,False,True,False,Jász-Nagykun-Szolnok
13059,0,Free_tier_1,-0.106351,-0.075503,-0.130499,1.0,False,False,True,False,False,False,False,True,False,Baranya
11375,0,Free_tier_1,-0.106351,-0.075503,-0.130499,1.0,False,False,True,False,False,False,False,True,False,NaN

In [129]:
print((df_dbscan["dbscan_cluster"] == 1.0).sum())
df_dbscan[(~df_dbscan["dbscan_cluster"].isna()) & (df_dbscan["dbscan_cluster"] == 1.0)].sample(5, random_state=seed)

4943

,dbscan_cluster,PREVIOUS_PACKAGE_TYPE,SERVICE_1_COUNT,SERVICE_2_COUNT,SERVICE_3_COUNT,SUPERUSER_ID,CREATED_ON_ACTIVE,SERVICE_X_DATE_ACTIVE,PACKAGE_CHANGE_DATE_ACTIVE,CREATED_ON_1,CREATED_ON_2,CREATED_ON_3,CREATED_ON_4,CREATED_ON_5,LAST_LOGIN_1,COUNTY
25437,1,Freemium,-0.106351,-0.075503,-0.130499,1.0,True,True,True,False,False,False,True,False,True,Főváros
25442,1,Hibernated,-0.106351,-0.075503,-0.130499,1.0,True,False,True,False,False,False,True,False,False,Pest
22859,1,Free_tier_1,-0.106351,-0.075503,-0.130499,0.0,True,False,True,False,False,False,True,False,True,Baranya
25783,1,NaN,-0.106351,-0.075503,-0.130499,0.0,True,False,False,False,True,False,False,False,False,Bács-Kiskun
22824,1,Free_tier_0,-0.106351,-0.075503,-0.130499,0.0,True,False,True,False,False,False,True,False,False,NaN

In [130]:
print((df_agg["agg_cluster"] == 0).sum())
df_agg[df_agg["agg_cluster"] == 0].sample(5, random_state=seed)

5979

,agg_cluster,CREATED_ON_1,CREATED_ON_2,CREATED_ON_3,CREATED_ON_4,CREATED_ON_5,LAST_LOGIN_1,LAST_LOGIN_2,LAST_LOGIN_3,COUNTY,LINE_OF_BUSINESS,SIZE_CODE,PACKAGE_TYPE
22858,0,False,False,False,True,False,True,False,False,Baranya,NaN,91406697.0,Free_tier_1
7198,0,False,False,False,False,True,True,False,False,NaN,NaN,NaN,paid_tier_1
8619,0,False,False,False,False,True,True,False,False,Főváros,95254.0,91406692.0,paid_tier_1
18442,0,False,False,False,False,True,True,False,False,NaN,NaN,NaN,Freemium
12740,0,False,False,False,False,True,True,False,False,NaN,NaN,NaN,Freemium

In [131]:
print((df_agg["agg_cluster"] == 1).sum())
df_agg[df_agg["agg_cluster"] == 1].sample(5, random_state=seed)

2739

,agg_cluster,CREATED_ON_1,CREATED_ON_2,CREATED_ON_3,CREATED_ON_4,CREATED_ON_5,LAST_LOGIN_1,LAST_LOGIN_2,LAST_LOGIN_3,COUNTY,LINE_OF_BUSINESS,SIZE_CODE,PACKAGE_TYPE
10646,1,False,False,False,False,True,False,True,False,NaN,NaN,NaN,Freemium
25710,1,False,False,False,True,False,False,True,False,NaN,NaN,NaN,Free_tier_1
24720,1,False,False,False,True,False,False,True,False,Zala,56104.0,91406693.0,Freemium
13068,1,False,False,False,False,True,False,True,False,Somogy,80104.0,91406696.0,Free_tier_1
15678,1,False,False,False,False,True,False,True,False,Fejér,43224.0,91406697.0,Free_tier_1

In [132]:
print((df_agg["agg_cluster"] == 2).sum())
df_agg[df_agg["agg_cluster"] == 2].sample(5, random_state=seed)

18319

,agg_cluster,CREATED_ON_1,CREATED_ON_2,CREATED_ON_3,CREATED_ON_4,CREATED_ON_5,LAST_LOGIN_1,LAST_LOGIN_2,LAST_LOGIN_3,COUNTY,LINE_OF_BUSINESS,SIZE_CODE,PACKAGE_TYPE
6417,2,False,False,False,False,True,False,False,True,Főváros,75004.0,91406683.0,Free_tier_0
20140,2,False,False,False,False,True,False,False,True,Fejér,71204.0,91406692.0,Free_tier_0
12295,2,False,False,False,False,True,False,False,True,NaN,NaN,NaN,Free_tier_0
2564,2,False,False,False,False,True,False,False,True,Pest,46904.0,91406695.0,paid_tier_1
22504,2,False,False,False,False,True,False,False,True,Főváros,41204.0,91406683.0,Free_tier_1